.errorMessage,
h1, h2, h3 {
  text-align: center;
}

h1 {
  padding-bottom: 30px;
}

.well {
  margin-top: 35px;
}

.well .well-block {
  padding: 45px 25px 40px 25px;
}

.scopes {
  padding-top: 7px;
}

p.alert.alert-warning {
  text-align: center !important;
}

.table {
  background-color: rgba(0, 0, 0, 0);
}