<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      internalLogFile="d:\logs\food-ratingst-app\internal-nlog.txt"
      xdt:Transform="SetAttributes(internalLogFile)" >
  <targets>
    <target name="ownFile-web" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" fileName="d:\logs\food-ratingst-app\api.log" />
  </targets>
</nlog>
